@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model MimmiProject.Models.ViewModels.PictureBlockViewModel

<div class="one_third">
    <figure class="shadow">
        <a href="#" class="thumb"><img src="@Url.ContentUrl(Model.Image)" /></a>


        <figcaption>
            <a href="#">
                <h3 class="heading">@Html.PropertyFor(x => x.Headline)</h3>
            </a>
            <p class="bioquote">@Html.PropertyFor(x=> x.Text)</p>
        </figcaption>
    </figure>
</div>
